# ignore everything in the root except the "app" directory.
!app/

# ignore everything in the app directory except the "public" directory.
app/*
!app/public

# ignore everything in the public except the "wp-content" directory.
app/public/*
!app/public/wp-content

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
app/public/wp-content/*
!app/public/wp-content/mu-plugins
!app/public/wp-content/plugins
!app/public/wp-content/themes

# ignore these plugins
app/public/wp-content/plugins/hello.php

# ignore specific themes
app/public/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

#ignore build directory
build/*

# ignore log files and databases
*.log
*.sql
*.sqlite

# phpStorm
.idea/

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

*.iml
modules.xml
.idea/misc.xml
*.ipr

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history